.containerCardProps {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1rem;
    color: black;
    margin: 0.25rem 0;
  }
  .boton {
    margin: 1.5rem;
    padding: 7px 17px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

  }
  
  .boton:hover {
    color: white;
    background-color: black;
  }